<%- include('./partials/head.ejs') %>

<body>
	<!-- Header -->
	<%- include('./partials/headerIndex.ejs') %>
	<!-- /Header -->

			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			
			<!-- Formulario -->
			<form action="/users/sesion" method="POST" class="formulario">
				<% if (locals.errors){ %>
					<p class="error">
						<%= locals.errors.message %>
					</p>
				<% } %>
				<div>
					<label for="mail" class="form-label"></label>
					<input type="email" name="mail" value="" placeholder="Email*" class="form-input">
				</div>
				<div>
					<label for="contraseña" class="form-label"></label>
					<input type="password" name="pass" value="" placeholder="Contraseña*" class="form-input">
				</div>
				<div>
					<label for="recordarme" class="checkbox" >Recordarme:</label>
					<input type="checkbox" name="recordarme" value="">
				</div>
				<div>
					<button type="submit" class="form-boton">Ingresar</button> 
				</div>
			</form>
	<!-- Show the "ultimos" products -->

	<!-- footer -->
	<%- include('./partials/footer.ejs') %>
	<!-- /footer -->
</body>

</html>