<%- include('./partials/head.ejs') %>

<body>
	<!-- Header -->
	<%- include('./partials/headerIndex.ejs') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			
			<!-- Formulario -->
			<form action="/users/profile" method="GET">
				<div>
					<label for="mail">Email:</label>
					<input type="email" name="mail" value="">
				</div>
				<div>
					<label for="contraseña">Contraseña:</label>
					<input type="password" name="pass" value="" >
				</div>
				<div>
					<label for="recordarme">Recordarme:</label>
					<input type="checkbox" name="recordarme" value="si">
				</div>
				<div>
					<button type="submit">Ingresar</button> 
				</div>
			</form>
	<!-- Show the "ultimos" products -->

	<!-- footer -->
	<%- include('./partials/footer.ejs') %>
	<!-- /footer -->
</body>

</html>