<%- include('./partials/head.ejs') %>

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado.ejs') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Formulario -->
			<form action="/" method="GET" class="formulario">
				<div>
					<label for="imagen" class="form-label">Imagen:</label>
					<input type="file" name="imagen" value="imagen">
				</div>
				<div>
					<label for="nombre" class="form-label">Nombre del producto:</label>
					<input type="text" name="nombre" value="">
				</div>
				<div>
					<label for="nombre" class="form-label">Descripción:</label>
					<input type="text" name="nombre" value="">
				</div>
				<div>
					<label for="fecha" class="form-label">Fecha de carga:</label>
					<input type="date" name="fecha" value="">
				</div>
				<div>
					<button type="submit" class="form-boton">Agregar Producto </button>
				</div>

			</form>

	<!-- footer -->
	<%- include('./partials/footer.ejs') -%>
	<!-- /footer -->
</body>

</html>