<%- include('./partials/head.ejs') %>

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado.ejs') %>
	<!-- /Header -->


			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Formulario -->
			<form action="/products/product-add" method="post" class="formulario" enctype="multipart/form-data">
				<div>
					<label for="imagen" class="form-label">Imagen:</label>
					<input type="file" name="imagen" value="imagen" placeholder="Imagen" class="form-input">
				</div>
				<div>
					<label for="nombre" class="form-label"></label>
					<input type="text" name="nombre" value="" placeholder="Nombre del producto*" class="form-input">
				</div>
				<div>
					<label for="nombre" class="form-label"></label>
					<input type="text" name="nombre" value="" placeholder="Descripción*" class="form-input">
				</div>
				<div>
					<label for="fecha" class="form-label">Fecha de carga:</label>
					<input type="date" name="fecha" value="" placeholder="Fecha de carga" class="form-input">
				</div>
				<div>
					<button type="submit" class="form-boton">Agregar Producto </button>
				</div>

			</form>

	<!-- footer -->
	<%- include('./partials/footer.ejs') -%>
	<!-- /footer -->
</body>

</html>