<%- include('./partials/head.ejs') %>

<body>
	<!-- Header -->
	<%- include('./partials/headerIndex.ejs') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Formulario -->
			<form action="/users/profile" method="GET" class="formulario">
				<div>
					<label for="mail" class="form-label">Email:</label>
					<input type="email" name="mail" value="">
				</div>
				<div>
					<label for="user" class="form-label">Usuario:</label>
					<input type="text" name="user" value="">
				</div>
				<div>
					<label for="contraseña" class="form-label">Contraseña:</label>
					<input type="password" name="pass" value="" >
				</div>
				<div>
					<label for="fecha" class="form-label">Fecha de nacimiento:</label>
					<input type="date" name="fecha" value="">
				</div>
				<div>
					<label for="documento" class="form-label">Numero de documento:</label>
					<input type="number" name="documento" value="">
				</div>
				<div>
					<label for="foto" class="form-label">Foto de perfil:</label>
					<input type="file" name="foto" value="">
				</div>
				<div>
					<button type="submit" class="form-boton">Registrarse</button> 
				</div>
			</form>
			<!-- Show the "ultimos" products -->

	<!-- footer -->
	<%- include('./partials/footer.ejs') %>
	<!-- /footer -->
</body>

</html>